@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.bunny.net/css?family=poppins:400,400i,600,600i,700,700i);
@import url(https://fonts.bunny.net/css?family=nunito-sans:400,400i,500,500i,600,600i,700,700i);

/* * ===== App styles ===== */

body {
  @apply text-danube-900 bg-danube-bg;
}

/* Headings styles */

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  @apply font-bold text-danube-950;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

/* Text styles */

p, a, li, span {
  font-family: 'Nunito Sans', sans-serif;
  @apply text-sm;
}

strong {
  @apply text-danube-600;
}

/* Custom classes */
.font-title {
  font-family: 'Poppins', sans-serif;
}

.notification-element {
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 12px;
	width: 12px;
	transform: scale(1);
}

.notification-element.notification-red {
  animation: pulse-red 2s infinite;
}

.notification-element.notification-orange {
  animation: pulse-orange 2s infinite;
}

@keyframes pulse-red {
	0% {
    background: #E84855;
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
    background: #E84855;
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

@keyframes pulse-orange {
	0% {
    background: #F8B737;
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
    background: #F8B737;
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}