@tailwind base;
@tailwind components;
@tailwind utilities;

.content-block {
	@apply
	rounded-xl
	shadow-md
	py-4
	px-8
	my-8
	leading-relaxed;
}

.content-block strong {
	@apply text-purple;
}


.blob {
  background: #E84855;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	margin: 10px;
	height: 12px;
	width: 12px;
	transform: scale(1);
	animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}